# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
Homestead.yaml
Homestead.json

# Laravel logs and cache
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# System files
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Composer
composer.lock

# NPM
npm-debug.log
yarn-error.log

# PHPUnit
.phpunit.result.cache

# Laravel Telescope
storage/telescope

# Laravel Horizon
storage/horizon